
@import "variables";

.button {
    border: 1px solid $color-apple;
    background-color: $color-coral;
    padding: 8px;
    margin: 2px;
    border-radius: 4px;
    cursor: pointer;
    color: $color-apple;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 24px;
}